  body {
    background-color: rgb(1, 1, 14);
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.App h1 {
  width: 100%;
  color: #ffff;
  background-color: rgb(20, 20, 145);
  padding: 10px 30px;
}


